.container {
    width: 100%;
}

.lazy-load {
    width: 50%;
    display: inline-block;
}

.image {
    width: 100%;
    display: inline-block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}